@model vidly.Models.Customer

@{
    ViewBag.Title = @Model.Name;
    Layout = "../Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>@Model.MembershipType.Description</li>
    @if(@Model.Birthdate.ToString("yyyy") != "0001")
    {
        <li>@Model.Birthdate.ToString("yyyy/MM/dd")</li>
    }
</ul>